mixin c-card(option = {})
  - const text = option.text;
  - const title = option.title;
  - const date = option.date;
  - const link = option.link;
  - const cardClass = option.cardClass;
  a.c-card(class=cardClass,href=link,target="_blank")
    .c-card_wrapper
      .c-card_bg
        p.c-card_title
          | !{title}
    p.c-card_date
      | !{date}
    p.c-card_text
      | !{text}



//- 記述例
//- +c-card({
//-   cardClass: "__class",
//-   link: "#",
//-   img: "path",
//-   alt: "テキスト",
//-   date: "2024.01.06",
//-   text: "テキスト",
//- })

